QWidget{
    background-color:gray;
    font: bold 14px
}
QPushButton{
    background-color: rgb(71, 71, 71);
    border-style: outset;
    border-width: 2px;
    border-radius: 10px;
    border-color: beige;
    font: bold 14px;
    min-width: 10em;
    min-height: 5em;
    padding: 6px;
}


QPushButton:pressed {
    background-color: darkgray;
    border-style: inset;
}

QLineEdit{
    background-color: lightgray;
    min-width: 20em;
    font: bold 20px
}